<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dashboard.html :: head"></head>
<body class="bg-image">

<header th:replace="fragments/dashboard.html" :: header></header>

<div class="row">
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search shadow-lg"
          method="get" action="/medecins/nom">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Chercher un spécialité"
                   aria-label="Search" aria-describedby="basic-addon2" id="search" name="spe"> <!--nom ou prénom-->
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="col-3"></div>

    <div class="col-6 card border-0 shadow-lg">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Numéro d'identification</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="specialitecomplementaire: ${specialiteList}">
                <th scope="row" th:text="${specialitecomplementaire.getLibelle()}"></th>

                <td>
                    <a class="btn btn-primary" th:href="@{/specialites/medecins/{id}(id=${specialitecomplementaire.id})}">
                        Les médecins
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-3"></div>

</div>

<br><br>

<footer th:replace="fragments/footer.html" :: footer></footer>

</body>
</html>