<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: head"></head>
<body class="bg-image">



<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/head.html :: nav"></nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" >Médecins</h1>
            </div>
            <div class="d-grid gap-2">"
                <a class="btn btn-primary" type="button" th:href="@{/medecins/createMedecin}">Nouveau</a>

            </div>
            </br>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Liste des médecins</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Tél</th>
                                <th scope="col">Spécialité</th>
                                <th scope="col">Département</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Tél</th>
                                <th scope="col">Spécialité</th>
                                <th scope="col">Département</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </tfoot>
                            <tbody>
                    <tr th:each="medecin: ${medecinList}">
                        <th scope="row" th:text="${medecin.id}"></th>
                        <td th:text="${medecin.getNom()}"></td>
                        <td th:text="${medecin.getPrenom()}"></td>
                        <td th:text="${medecin.adresse}"></td>
                        <td><a th:href="'tel:' + ${medecin.tel}" th:text="${medecin.tel}"></a></td>

                        <td th:text="${
                                        medecin.specialitecomplementaire != null
                                            ? medecin.specialitecomplementaire.getLibelle()
                                            : 'Aucune spécialité'
                                        }">
                        </td>
                        <td th:text="${medecin.departement.libelle}"></td>


                        <td>
                            <a type="button" class="btn btn-outline-info" th:href="@{/medecins/{id}(id=${medecin.id})}"><i class="bi bi-three-dots">Détails</i></a>
                            <a  type="button" class="btn btn-outline-success" th:href="@{/medecins/editMedecin/{id}(id=${medecin.id})}"><i class="bi bi-pencil-square">Modifier</i></a>
                            <a type="button" class="btn btn-danger" th:href="@{/medecins/deleteMedecin/{id}(id=${medecin.id})}"><i class="bi bi-trash">Supprimer</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

    <div class="col"></div>

</div>

<br><br><br>

</body>
</html>